<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<title>Miriam & Chefran Birthday-Boda</title>
<link rel="stylesheet" type="text/css" href="css/<%= type%>.css"/>
<link rel="stylesheet" type="text/css" href="css/polaroid.css"/>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div>
		<a href='/familia/location'>
			<div class="polaroid">
				<img src="images/foto1.JPG" alt="Colloseum" />
				<p>Location</p>
			</div>
		</a>
		<a href='/hotels'>
			<div class="polaroid">
				<img src="images/foto2.JPG" alt="Vatican" />
				<p>HOTELS</p>
			</div>
		</a>
		<a href='/familia/menu'>
			<div class="polaroid">
				<img src="images/foto3.JPG" alt="Forum Romanum" />
				<p>Menu</p>
			</div>
		</a>
		<a href='/presents'>
			<div class="polaroid">
				<img src="images/foto7.JPG" alt="Pizza" />
				<p>Presents</p>
			</div>
		</a>
	</div>

	<div>
		<%- include location.ejs %>
	</div>
	<div>
		<%- include menu.ejs %>
	</div>
	<div>
		<%- include presents.ejs %>
	</div>
	<div>
		<%- include hotels.ejs %>
	</div>
</body>
</html>